@font-face {
  font-family: 'Prompt';
  src: url('font/Prompt-Regular.eot?#iefix') format('embedded-opentype'),  url('font/Prompt-Regular.woff') format('woff'), url('font/Prompt-Regular.ttf')  format('truetype'), url('font/Prompt-Regular.svg#CSChatThaiUI') format('svg');
  font-weight: normal;
  font-style: normal;
}
body { font-family: 'Prompt' !important; }
pre { font-family: 'Prompt' !important; }
h1, h2, h3, h4, h5, h6 {font-family: "Prompt",Helvetica Neue,sans-serif !important;}
.table .ui-sortable-helper {background:#FFF; box-shadow:0px 0px 5px #673AB7; width:100%;}
.inputcolor {padding: 0px !important;}